@model VotingApp.ViewModel.ConfirmationVM
@{
    ViewData["Title"] = "Confirmation Page";
}

<div class="row">
    <div class="col-md-12 text-left">
        <form asp-action="BackToIndexPage">
            <button type="submit" class="btn btn-primary" value="@Model.ID" name="ID">Edit</button>
        </form>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Vote Creation Confirmation</h1>
    <h3>@Model.ChosenVoteDescriptionHeader</h3>
    <hr class="mb-5"/>
</div>

<div class="text-center">
	<div class="col justify-content-center">
		<form asp-action="Confirmation" method="get">
			<div class="row mb-5 justify-content-center">
				<h3>Vote Title:</h3>
				<h6>(If you would like to change your title press the edit button)</h6>
				<div class="card">
					<div class="card-body">
						<p class="card-text">@Model.VoteTitle</p>
					</div>
				</div>
			</div>
			<div class="row mb-5 justify-content-center">
				<h3>Vote Description:</h3>
				<h6>(If you would like to change your description press the edit button)</h6>
				<div class="card">
					<div class="card-body">
						<p class="card-text">@Model.VoteDescription</p>
					</div>
				</div>
			</div>
		</form>
		<div class="row mb-5 justify-content-center">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Voting Options:</h5>
				</div>
				<ul class="list-group list-group-flush">
					@foreach (var option in Model.VotingOptions)
					{
						<li class="list-group-item">@option</li>
					}
				</ul>
			</div>
		</div>
		<div class="form-group">
			<form asp-action="Confirmation" method="post">
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>