@model IEnumerable<CreatedVote>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="pt-3 row justify-content-center ">

    @foreach (var vote in Model)
    {
        <div class="col-xl-5 mb-3" style="height:100%;">
        <div class="card">
            <div class="card-header">
                @if (vote.UserId != null)
                {
                    <h3>Vote Id:@vote.Id</h3>
                    <h3>Vote Title:@vote.VoteTitle</h3>
                    <h3>Vote Type:@vote.VoteType.VotingType</h3>
                    <h3>UserId:@vote.UserId</h3>
                }
                else
                {
                    <h3>Vote Id:@vote.Id</h3>
                    <h3>Vote Title:@vote.VoteTitle</h3>
                    <h3>Vote Type:@vote.VoteType.VotingType</h3>
                }
            </div>
            <div class="card-body">
                <p>@vote.VoteDiscription</p>
                <h5>Vote Options:</h5>
                <ul>
                    @foreach (var option in vote.VoteOptions)
                    {
                        <li>@option.VoteOptionString</li>
                    }

                </ul>
                <form asp-action="Edit" method="get"><input name="id" type="number" value="@vote.Id" hidden/><button class="btn btn-primary" type="submit" asp-action="Delete" value="@vote.Id">Edit</button></form>
                <form asp-action="Delete" method="get"><input name="id" type="number" value="@vote.Id" hidden/><button class="btn btn-danger" type="submit" asp-action="Delete" value="@vote.Id">Delete</button></form>
            </div>
        </div>


        </div>
    }

</div>
